
.vscode
build/*
!build/.gitignore
build2/*
!build2/.gitignore
dependencies/FunctionalPlus/build/*
dependencies/eigen/build/*
dependencies/json/build/*
dependencies/frugally-deep/build/*
in/*
!in/.gitignore
out/*
!out/.gitignore
!out/working/.gitignore

!demoMaterials/*
!dependencies/*
!build/
!build2/


